.red {
  background-color: #61dafb;
}

.Home {
  width: 375px;
  height: 667px;
  background-image: url("../../assets/image/Home/bk.png");
  background-size: cover;

  .header {
    width: 322px;
    height: 155px;
    left: 26px;
    top: 89px;
    background: #FFFFFF;
  }
}

