.list_item {
  width: 139px;
  height: 146px;
  margin-bottom: 35px;
  transform: translateX(-10px);
  animation: scle .7s ease-in-out;
}
.list_item:nth-of-type(odd) {
  margin-right: 15px;
}
.list_item:nth-of-type(even){
  margin-left: 14px;
}
.inner {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

@keyframes scle {
  0%{
    transform: rotateY(90deg) translateX(-10px);
  }
  100%{
    transform: rotateY(0deg) translateX(-10px);
  }
}