.list_item {
  width: 139px;
  height: 146px;
  margin-bottom: 35px;
  animation: scle .7s linear;
}
.list_item:nth-of-type(odd) {
  margin-right: 14px;
}
.list_item:nth-of-type(even){
  margin-left: 8px;
}
.inner {
  margin-left: 28px;
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

@keyframes scle {
  0%{
    transform: rotateY(90deg) ;
  }
  100%{
    transform: rotateY(0deg);
  }
}