.Index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
  height: 100vh;
  background-image: url("../../assets/image/Home/bk.png");
  background-size: cover;
}

.hidden_scroll {
  position: relative;
  width: 350px;
  height: 100vh;
  overflow: hidden;
}
.header {
  //transform: translateX(-10px);
  margin-top: 25px;
  position: relative;
  width: 322px;
  height: 155px;
  background: #ffffff;
}
.item {
  margin: 14px 16px;
  width: 290px;
  height: 120px;
  background-color: #E8E8E8;
}

.star_icon {
  position: absolute;
  width: 77px;
  height: 58px;
  left: -5px;
  top: -12px;
  background-image: url("../../assets/image/Home/star.png");
  background-size: cover;
  z-index: 999;
}

.star_icon_double {
  position: absolute;
  width: 25px;
  height: 50px;
  left: 292px;
  top: 100px;
  background-image: url("../../assets/image/Home/double-star.png");
  background-size: cover;
  z-index: 999;
}
@keyframes show {
  0%{
    opacity: 0.7;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
.list {
  animation: show .6s ease-in-out;
  margin-left: 15px;
  overflow-y: auto;
  height: 100%;
  width: calc(100% + 20px);
  .list_item {
    width: 139px;
    height: 146px;
    margin-bottom: 35px;
    transform: translateX(-10px);
  }
  .list_item:nth-of-type(odd) {
    margin-right: 15px;
  }
  .list_item:nth-of-type(even){
    margin-left: 14px;
  }
}
.inner {
  margin-top: 0px;
  margin-bottom: 60px;
  width: 322px;
  transform:  translateY(-10px);
  background-color: #ffffff;
  h1 {
    width: 172px;
    height: 25px;
    margin-left: 20px;
    margin-top: 10px;
    font-family: "SuHei";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E5FD6;
  }
  div {
    margin: 18px auto;
    width: 282px;
    font-family: "SuHei";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 147% */
    color: #0087FF;
  }
  .option {
    left: 10px;
    transform: translateY(-100px);

    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 298px;
    div {
      p{
        text-align: center;
        margin-top: 40px;
      }
    }
    .prev {
      width: 140px;
      height: 74.5px;
      background: url(../../assets/image/Index/prev.png);
      background-size: cover;
    }
    .next {
      width: 140px;
      height: 74.5px;
      background: url(../../assets/image/Index/next.png);
      background-size: cover;
    }
  }

}